.icon {
  &--big {
    font-size: 350%;
    display: block;
    color: $mainOrange;
    margin-bottom: 10px;
  }

  &--small {
    font-size: 120%;
    display: inline-block;
    width: 30px;
    text-align: center;
    color: $mainOrange;
    margin-right: 10px;

    /* align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;

    @mixin atMedium {
      width: 17px;
      margin-right: 5px;
    }
  }
}
