.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.sticky .main-nav {
  margin-top: 18px;
}

.sticky .main-nav li a {
  &:link,
  &:visited {
    padding: 16px 0;
    color: #555;
  }
}

.logo--black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}

.sticky .logo--black {
  display: block;
}

.sticky .logo {
  display: none;
}
